.fpd-container {
    text-align: left;
    margin: 0; /* Suppression de la marge externe pour s'adapter parfaitement */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 30px; /* Espacement à gauche pour rapprocher le texte du bord du conteneur */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    padding-top: 20px !important;
    padding-bottom: 5px !important;
    width: 100%; /* Ajusté à 100% pour occuper toute la largeur du CardBody */
    max-width: none; /* Suppression de la largeur maximale pour permettre l'extension complète */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fpd-header {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.fpd-description {
    line-height: 1.8;
    text-align: justify;
    list-style: none; /* Suppression du style de liste par défaut */
    padding-left: 15px; /* Réduction de l'espacement entre le marqueur et le conteneur */
}

.fpd-description li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 15px;
    font-size: 24px !important;/* Augmentation de l'espacement entre le texte et le marqueur */
}

.fpd-description li::before {
    content: ""; /* Vide car nous allons utiliser un style personnalisé */
    background-color: #333; /* Couleur du marqueur à la manière d'Apple */
    width: 6px; /* Taille du marqueur */
    height: 6px; /* Taille du marqueur */
    border-radius: 50%; /* Rend le marqueur circulaire */
    position: absolute;
    left: -10px; /* Réglage de la position du marqueur vers la gauche pour rapprocher du bord du conteneur */
    top: 0.7em; /* Alignement vertical du marqueur avec le texte */
}
