@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


._dash-loading {
    display: none;
}

#loading-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #001640; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Style for the row containing the graph */
#row-graph {
    margin-bottom: -1px;  /* Custom margin for the graph row */
}

/* Style for the row containing metric and index */
#row-metric-index {
    margin-bottom: 1px;  /* Custom margin for the metric and index row */
}

/* Style for the row containing the calendar */
#row-calendar {
    margin-bottom: 10px;  /* Custom margin for the calendar row */
}

#date-picker-container {
    position: relative;
    top: -90px;  /* Adjust the vertical position */
    left: 80px;  /* Adjust the horizontal position */
    z-index: 2;
    width: 200px;
}


/* Reduce padding and margin for the graph column */
#col-graph {
    padding: 10px;
    margin: 0px;
}

/* Reduce padding and margin for the metric column */
#col-metric {
    padding: 10px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Reduce padding and margin for the index column */
#col-index {
    padding: 10px;
    margin: 0px;
}

/* Reduce padding and margin for the calendar column */
#col-calendar {
    padding: 10px;
    margin: 0px;
}

.dash-table-tooltip {
    color: #000000;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
}






.card {
    border : none;
}

.card-body {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Ombre plus légère par défaut */
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    border: solid 0px #001640;/* Transition douce pour le fond et l'ombre */
}

.card-body:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus intense au survol */
    background:  #ffffff; /* Dégradé plus foncé au survol */
}


#graph-card-body {
    padding: 20px;  /* Adjust the padding */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Ombre plus légère par défaut */
    border-radius: 8px;  /* Example border radius */
    height: 800px;  /* Adjust the height */
    background:  #ffffff;

}


#graph-card-body:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus intense au survol */
    background:  #ffffff; /* Dégradé plus foncé au survol */
}





.export {
    /*position: absolute;*/
    /*top: -10px;*/
    /*right: 15px;*/
    width: 60px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 20;
    visibility: hidden; /* Initialement caché */
    border-radius: 10px; /* Coins arrondis */
    background-color: rgba(0, 22, 64, 0.9); /* Couleur de fond */
    color: #ffffff; /* Couleur de la police */
}

.card-body:hover .export {
    visibility: visible !important; /* Visible lors du survol de .data-spreadsheet */
}

.card-body .export {
    opacity: 0; /* Rend l'élément complètement transparent */
    visibility: hidden; /* Cache l'élément, le rendant non cliquable */
    transition: opacity 0.5s ease, visibility 0s 0.5s; /* Transition sur l'opacité et maintien de la visibilité jusqu'à ce que l'opacité soit complète */
}

.card-body:hover .export {
    opacity: 1; /* Rend l'élément complètement opaque lors du survol */
    visibility: visible; /* Rend l'élément visible */
    transition: opacity 0.5s ease, visibility 0s 0s; /* Applique la transition d'opacité immédiatement */
}


.dash-table-container {
    padding: 0px !important;
    margin: 0px !important;
    height: auto !important;  /* Adjust height as needed */
}

.dash-table-container .dash-spreadsheet-container {
    padding: 0px !important;
    margin: 0 auto !important; /* Centrer le tableau dans la carte */
    height: auto !important; /* Hauteur ajustée automatiquement */
    border: none; /* Aucune bordure visible */
    border-radius: 5px; /* Coins arrondis */
    background-color: #ffffff; /* Couleur de fond légèrement plus foncée pour l'effet enfoncé */
    overflow: hidden; /* Aucune barre de défilement visible */
    transition: background-color 0.3s ease; /* Transition douce pour le fond */
}

.dash-table-container .dash-spreadsheet-container:hover {
    background-color: #ffffff; /* Fond légèrement plus clair au survol pour un contraste */
}




/* Coin inférieur gauche des données */
.dash-spreadsheet tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

/* Coin inférieur droit des données */
.dash-spreadsheet tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
.dash-table-container {
    margin: 0 auto; /* Centrer le conteneur dans la page */
    padding: 20px; /* Espace autour du tableau pour un meilleur visuel */
    border-radius: 8px; /* Coins arrondis pour le conteneur */
    background-color: #ffffff; /* Couleur de fond subtile pour le conteneur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Ombre externe plus douce pour un effet subtil */
    transition: all 0.3s ease; /* Transition douce pour tous les changements de style */
}

.dash-spreadsheet .dash-cell {
    padding: 1px; /* Espace interne pour chaque cellule */
    border: none; /* Aucune bordure pour les cellules */
    background-color: #fff; /* Fond blanc pour les cellules */
    transition: background-color 0.2s ease; /* Transition douce pour le changement de couleur de fond */
}

.dash-spreadsheet .dash-header {
    font-weight: bold; /* Texte en gras pour les en-têtes */
    background-color: #fff; /* Fond blanc pour les en-têtes pour se fondre avec les cellules */
    border: none; /* Aucune bordure pour les en-têtes */
}

.dash-spreadsheet .dash-cell:hover, .dash-spreadsheet .dash-header:hover {
    background-color: #ffffff; /* Fond plus clair lors du survol des cellules et en-têtes */
}

.dash-table-container:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Ombre légèrement plus douce au survol */
    background-color: #ffffff; /* Fond légèrement plus clair au survol pour un contraste */
}

.card-title {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    background-image: linear-gradient(to left, rgba(0, 22, 64, 0.8), rgba(0, 22, 64, 1));
    border-radius: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre interne pour un effet enfoncé */
    transform: translateY(2px); /* Léger déplacement vers le bas pour renforcer l'effet enfoncé */
}

.card-body:hover .card-title {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 22, 64, 0.9);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25); /* Ajustement de l'ombre pour un effet plus prononcé au survol */
    transform: translateY(1px); /* Moins déplacé pour simuler le soulèvement lors du survol */
}


.dash-spreadsheet  {
    border: none; /* Suppression des bordures */
}

/* Surbrillance pour une ligne sur deux */
.dash-spreadsheet tr:nth-child(odd) td {
    filter: brightness(98%)!important; /* Augmentation légère de la luminosité pour les lignes impaires */
    border-top: 0.5px solid #c2c2c2 !important; /* Ajoute une fine bordure en haut */
    border-bottom: 0.5px solid #c2c2c2 !important; /* Ajoute une fine bordure en bas */
}

.dash-spreadsheet tr:last-child td {
    border-bottom: none !important; /* Supprime la bordure en bas pour la dernière ligne */
}


#calendar-table tr td {
    filter: none !important; /* Annule l'effet pour la table avec ID 'calendar-id' */
}

#calendar-table tr td:first-child {
    border-top: none !important; /* Désactive la bordure en haut pour la première colonne */
    border-bottom: none !important; /* Désactive la bordure en bas pour la première colonne */
}


/* Changement de couleur de fond pour les lignes survolées */
.dash-spreadsheet tr:hover td {
    color: rgba(0, 22, 64, 1) !important; /* Couleur de fond lors du survol */
}


#calendar-table:hover td.dash-cell.column-0 {
    color: #ffffff !important; /* Change la couleur du texte à blanc */
}
#calendar-table {
    box-shadow: none !important; /* Ombre externe plus douce pour un effet subtil */
    transition: none !important;; /* Transition douce pour tous les changements de style */

}

/*.card-body tr {*/
/*    background-color: rgba(0, 22, 64, 0.1); !* Couleur de fond initiale *!*/
/*    transition: background-color 0.5s ease; !* Transition douce sur la couleur de fond *!*/
/*}*/

/*.card-body:hover tr {*/
/*    background-color: rgba(0, 22, 64, 1); !* Couleur de fond après survol *!*/
/*}*/



