/* Style base du Slider */
#slider-callback .rc-slider,
#flow-slider-callback .rc-slider {
    position: relative;
    height: 4px;
    padding: 10px 0; /* Ajouter un peu d'espace autour du slider pour les interactions */
}

/* Barre de fond du Slider */
#slider-callback .rc-slider-rail,
#flow-slider-callback .rc-slider-rail
{
    background-color: #f0f0f0; /* Gris clair pour la barre de fond */
    height: 8px;
    border-radius: 6px;
}

/* Barre de progression indiquant la valeur sélectionnée */
#slider-callback .rc-slider-track,
#flow-slider-callback .rc-slider-track {
    background-color: #f0f0f0 ; /* Bleu pour la valeur sélectionnée */
    height: 4px;
    border-radius: 6px;

}

/* Poignée du Slider */
#slider-callback .rc-slider-handle,
#flow-slider-callback .rc-slider-handle {
    border: solid 3px #f5a701;
    height: 14px;
    width: 14px;
    margin-top: -5px; /* Ajuster la position verticale pour centrer */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%; /* Rendre la poignée circulaire */
}

/* Points sur le Slider pour chaque valeur définie */
#slider-callback .rc-slider-dot,
#flow-slider-callback .rc-slider-dot {
    bottom: -6px !important; /* Ajustement vertical pour centrer les points par rapport au nouveau rail */
    border: 2px solid #ccc; /* Couleur de la bordure des points */
    background-color: #f0f0f0; /* Fond des points */
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%; /* Rendre les points circulaires */
}

/* Points actifs sur le Slider */
#flow-slider-callback .rc-slider-dot-active,
#slider-callback .rc-slider-dot-active {
    border-color: #f5a701;
}

/* Étiquettes des marques sur le Slider */
#flow-slider-callback .rc-slider-mark-text,
#slider-callback .rc-slider-mark-text {
    color: #666;
    font-size: 12px;
    transform: translateX(-50%) translateY(-25px); /* Ajuster pour bien positionner les étiquettes au-dessus du slider */
    display: block;
}

/* Étiquettes actives des marques sur le Slider */
#flow-slider-callback .rc-slider-mark-text-active,
#slider-callback .rc-slider-mark-text-active {
    color: #f5a701;
}


#flow-slider-callback .rc-slider-dot,
#slider-callback .rc-slider-dot {
    bottom: -2px;
    border: 2px solid #ccc; /* Couleur de la bordure des points reste inchangée */
    background-color: #f0f0f0; /* Fond des points reste inchangé */
    width: 8px;
    height: 8px;
    border-radius: 50%; /* Rendre les points circulaires */
}

/* Étiquettes des marques sur le Slider */
#flow-slider-callback .rc-slider-mark-text,
#slider-callback .rc-slider-mark-text {
    color: #666; /* Couleur par défaut pour tous les labels */
    font-size: 12px;
    transform: translateX(-50%) translateY(8px) !important;
    display: block;
}


#flow-slider-container {
    position: absolute;
    bottom: 20px;  /* Aligné en bas */
    left: 200px;    /* Aligné à gauche */
    width: 600px; /* Largeur du carré */
    height: 100px; /* Hauteur du carré */
    border: solid 1px rgba(213, 213, 213, 0.84);
    border-radius: 10px;
    background: rgba(252, 252, 252, 0.85);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.slider-title {
    text-align: center; /* Centrage du titre */
    padding: 10px; /* Espace autour du texte */
    color: #666; /* Couleur du texte */
    font-size: 16px;
}


#schedule-graph .legend {
    position: relative !important;
    right: 100px !important; /* Décalez légèrement à partir du bord pour tester */
    top: 10px !important; /* Évitez les extrêmes comme 0% ou 100% pour tester */
}